header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1vh;
    height: 10vh;

    div{
        display: flex;
        align-items: center;
        gap: 0.4em;

        img {
            width: auto;
            height: 6vh;
        }

        h6 {
            font-weight: 700;
            font-size: 1.2em;
            margin: 0;
        }
    }

    nav {
        display: flex;
        align-items: center;
        gap: 9vw;

        a {
            font-size: 1em;
            text-decoration: none;
            color: black;
        }
    }

    button {
        border-radius: 16px;
        border: none;
        display: flex;
        align-items: center;
        background: linear-gradient(to right, #004aad, #7F00FF, #E100FF);

        i, p {
            margin: 0.6vw;
            font-weight: 700;
            color: #f1f1f1;
            font-size: 1em;
        }
    }
}
