@charset "UTF-8";
body {
  color: #f3f3f3;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden; /* Evitar scroll horizontal */
}

/* Estilização do header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  padding: 0 2%;
}
header div {
  display: flex;
  align-items: center;
  gap: 0.4em;
}
header div img {
  width: auto;
  height: 6vh;
}
header div h6 {
  font-weight: 700;
  font-size: 2.5em; /* Aumentado */
  color: #f3f3f3;
}
header nav {
  display: flex;
  align-items: center;
  gap: 5vw;
}
header nav a {
  font-size: 2.5vh; /* Aumentado */
  font-weight: 600;
  text-decoration: none;
  color: #f3f3f3;
}
header button {
  border-radius: 16px;
  border: none;
  display: flex;
  align-items: center;
  height: 7vh;
  background: linear-gradient(to right, #004aad, #7F00FF, #E100FF);
}
header button i, header button p {
  margin: 0.6vw;
  font-weight: 700;
  color: #f3f3f3;
  font-size: 1.2em; /* Aumentado */
}

/* Estilização da seção início */
.inicio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%; /* Garantir 100% da largura */
  text-align: center;
  padding: 0 2%;
}
.inicio h1 {
  margin: 3vw;
  font-size: 3.5em;
  font-weight: 700;
  color: #f3f3f3;
  margin-bottom: 5vh;
}
.inicio h3 {
  margin-top: 35vh;
  font-size: 1.5em;
  color: #f3f3f3;
}
.inicio .logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6vw;
}
.inicio .logos img {
  width: auto;
  height: 10vh;
}

/* Estilização da seção Dev Workstation */
.devWorkstation {
  display: flex;
  margin: 1vh 2%;
  align-items: center;
  width: 100%; /* Garantir 100% da largura */
}
.devWorkstation h2, .devWorkstation p {
  color: black;
}
.devWorkstation h2 {
  font-size: 2em;
  background: linear-gradient(to right, #004aad, #7F00FF, #E100FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 300;
  align-items: center;
  font-family: "Anton", sans-serif;
  margin-bottom: 7vh;
}
.devWorkstation p {
  font-weight: 650;
  font-family: "Open Sans", sans-serif;
  font-size: 2em;
}
.devWorkstation img {
  height: 95vh;
}

/* Estilização da seção de cards */
.cards {
  margin-top: 9rem;
  width: 100%; /* Garantir 100% da largura */
}
.cards h2 {
  font-size: 2em;
  background: linear-gradient(to right, #004aad, #7F00FF, #E100FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 300;
  align-items: center;
  font-family: "Anton", sans-serif;
  margin-bottom: 7vh;
  text-align: center;
}
.cards .containerCards {
  display: flex;
  justify-content: space-between;
  margin: 0 1em;
}
.cards .containerCards div {
  background-image: radial-gradient(circle farthest-corner at 11.3% -0.8%, rgb(153, 14, 241) 0%, rgb(41, 3, 101) 100.2%);
  border-radius: 35px;
  width: 15vw;
  height: 38vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cards .containerCards div img {
  border-radius: 30px;
  width: 13vw;
  height: 18vh;
  background-color: #f3f3f3;
  margin-bottom: 4vh;
}
.cards .containerCards div h6 {
  font-family: "Open Sans", sans-serif;
  font-size: 2em;
  font-weight: 700;
  color: #f3f3f3;
}
.cards .containerCards #cardEmbarcados {
  width: 16vw;
}

/* Estilização da seção Sobre Nós */
.sobreNos {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%; /* Garantir 100% da largura */
}
.sobreNos h2 {
  margin-top: 5vh;
  font-size: 2em;
  background: linear-gradient(to right, #004aad, #7F00FF, #E100FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 300;
  align-items: center;
  font-family: "Anton", sans-serif;
  margin-bottom: 3vh;
  text-align: center;
}
.sobreNos p, .sobreNos h3 {
  font-weight: 650;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-size: 1.3em;
  color: #000;
}
.sobreNos div {
  display: flex;
  justify-content: center;
}
.sobreNos div button {
  margin-top: 2vh;
  border-radius: 16px;
  border: none;
  display: flex;
  align-items: center;
  height: 7vh;
  width: 13vw;
  background: linear-gradient(to right, #004aad, #7F00FF, #E100FF);
}
.sobreNos div button i, .sobreNos div button p {
  margin: 0.6vw;
  font-weight: 700;
  color: #f3f3f3;
  font-size: 1em;
}

/* Estilização do footer */
footer {
  background: linear-gradient(to right, #004aad, #7F00FF, #E100FF);
  padding: 3rem 0;
}
footer .row {
  margin: 0;
  text-align: left;
}
footer .row .col {
  flex: 1;
}
footer .row .col img {
  max-width: 100%;
  height: auto;
}
footer .row .col p {
  margin: 0;
  padding: 0.5rem 0;
}
footer .mt-3 {
  margin-top: 1rem;
}
footer .mt-3 a {
  color: #f3f3f3;
}
footer .mt-3 .mx-2 {
  margin: 0 0.5rem;
}/*# sourceMappingURL=style.css.map */