$gradiente: linear-gradient(to right, #004aad, #7F00FF, #E100FF);
$fontePrincipal: #f3f3f3;
body {
    color: $fontePrincipal;
    margin: 0;
    padding: 0;
}
div.headerInicio{
    background: no-repeat url(/IMG/fundo.png);
    background-size: 100% 86%;
}

/* Estilização do topo */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;

    div {
        display: flex;
        align-items: center;
        gap: 0.4em;

        img {
            width: auto;
            height: 6vh;
        }

        h6 {
            font-weight: 700;
            font-size: 2em;
            color: $fontePrincipal;
        }
    }

    nav {
        display: flex;
        align-items: center;
        gap: 5vw;

        a {
            font-size: 2vh;
            font-weight: 600;
            text-decoration: none;
            color: $fontePrincipal;
        }
    }

    button {
        border-radius: 16px;
        border: none;
        display: flex;
        align-items: center;
        height: 7vh;
        background: $gradiente;
        i, p {
            margin: 0.6vw;
            font-weight: 700;
            color: $fontePrincipal;
            font-size: 1em;
        }
    }
}


/* Estilização ínicio da página */
section.inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 105vh;
    text-align: center;
    position: relative;
    h1 {
        margin: 3vw;
        font-size: 3.5em;
        font-weight: 700;
        color: $fontePrincipal;
        margin-bottom: 5vh;
    }

    h3 {
        margin-top: 35vh;
        font-size: 1.5em;
        color: $fontePrincipal;
    }

    .logos {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 6vw;
        img {
            width: auto;
            height: 10vh;
        }
    }
}
section.devWorkstation{
    h2, p{
        color: black;
    }
    h2{
        font-size: 5vh;
    }
}