body {
  color: #f3f3f3;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

div.headerInicio {
  background: no-repeat url(/IMG/fundo.png);
  background-size: 100% 86%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  padding: 0 2vw;
}
header div {
  display: flex;
  align-items: center;
  gap: 0.4em;
}
header div img {
  height: 6vh;
}
header div h6 {
  font-weight: 700;
  font-size: 2em;
  color: #f3f3f3;
  line-height: 6vh;
}
header nav {
  display: flex;
  align-items: center;
  gap: 5vw;
}
header nav a {
  font-size: 2vh;
  font-weight: 600;
  text-decoration: none;
  color: #f3f3f3;
}
header button {
  border-radius: 16px;
  border: none;
  display: flex;
  align-items: center;
  height: 7vh;
  background: linear-gradient(to right, #004aad, #7F00FF, #E100FF);
}
header button i, header button p {
  margin: 0.6vw;
  font-weight: 700;
  color: #f3f3f3;
  font-size: 1em;
}

section.inicio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  position: relative;
  padding: 0 2vw;
}
section.inicio h1 {
  margin: 3vw;
  font-size: 3.5em;
  font-weight: 700;
  color: #f3f3f3;
  margin-bottom: 5vh;
}
section.inicio h3 {
  margin-top: 35vh;
  font-size: 1.5em;
  color: #f3f3f3;
}
section.inicio .logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6vw;
}
section.inicio .logos img {
  height: 10vh;
}

section.devWorkstation {
  display: flex;
  margin: 0.5vh 1vw;
  align-items: center;
}
section.devWorkstation h2, section.devWorkstation p {
  color: #000;
}
section.devWorkstation h2 {
  font-size: 2em;
  background: linear-gradient(to right, #3372E3 0%, #7426EF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 300;
  font-family: Anton;
  margin-bottom: 7vh;
}
section.devWorkstation p {
  font-weight: 650;
  font-family: "Open Sans";
  font-size: 2em;
}
section.devWorkstation img {
  height: 95vh;
}

section.cards {
  margin-top: 9rem;
}
section.cards h2 {
  font-size: 2em;
  background: linear-gradient(to right, #3372E3 0%, #7426EF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 300;
  font-family: Anton;
  margin-bottom: 7vh;
  text-align: center;
}
section.cards .containerCards {
  display: flex;
  justify-content: space-between;
  margin: 0 1em;
}
section.cards .containerCards div {
  background-image: radial-gradient(circle farthest-corner at 11.3% -0.8%, rgb(153, 14, 241) 0%, rgb(41, 3, 101) 100.2%);
  border-radius: 35px;
  width: 15vw;
  height: 38vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section.cards .containerCards div img {
  border-radius: 30px;
  width: 13vw;
  height: 18vh;
  background-color: #f3f3f3;
  margin-bottom: 4vh;
}
section.cards .containerCards div h6 {
  font-family: "Open Sans";
  font-size: 2em;
  font-weight: 700;
  color: #f3f3f3;
}
section.cards .containerCards div#cardEmbarcados {
  width: 16vw;
}

section.sobreNos {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
section.sobreNos h2 {
  margin-top: 5vh;
  font-size: 2em;
  background: linear-gradient(to right, #3372E3 0%, #7426EF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 300;
  font-family: Anton;
  margin-bottom: 3vh;
  text-align: center;
}
section.sobreNos p, section.sobreNos h3 {
  font-weight: 650;
  font-family: "Open Sans";
  text-align: center;
  font-size: 1.3em;
  color: #000;
}
section.sobreNos div {
  display: flex;
  justify-content: center;
}
section.sobreNos div button {
  margin-top: 2vh;
  border-radius: 16px;
  border: none;
  display: flex;
  align-items: center;
  height: 7vh;
  width: 13vw;
  background: linear-gradient(to right, #004aad, #7F00FF, #E100FF);
}
section.sobreNos div button i, section.sobreNos div button p {
  margin: 0.6vw;
  font-weight: 700;
  color: #f3f3f3;
  font-size: 1em;
}

footer {
  background-color: linear-gradient(to right, #004aad, #7F00FF, #E100FF);
  color: #f3f3f3;
  text-align: center;
  padding: 2rem 0;
}
footer .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
footer .container img {
  border-radius: 15px;
  height: auto;
  width: 15vw;
}
footer .col-lg-6, footer .col-md-12 {
  max-width: 50%;
}
footer .col-lg-3, footer .col-md-6 {
  max-width: 25%;
}

#letreiro {
  position: fixed;
  bottom: 10px;
  width: 100%;
  background: none;
  color: black;
  text-align: center;
  padding: 10px 0;
  font-size: 1em;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  z-index: 1000;
}

#letreiroTexto {
  display: inline-block;
  padding-left: 100%;
  animation: letreiro 15s linear infinite;
}

@keyframes letreiro {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}/*# sourceMappingURL=style.css.map */